name: Deploy to release

# 手動觸發，並且輸入要發佈的版本號碼
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release ${{ inputs.version }}
    outputs:
      version: ${{ steps.version.outputs.version }}
      notes: ${{ steps.changelog.outputs.changes }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Remove optional "v" prefix
        id: version
        run: |
          VERSION=${{ inputs.version }}
          echo "version=${VERSION#v}" >> "$GITHUB_OUTPUT"

      # 產生changelog及tag
      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: v${{ steps.version.outputs.version }}
          excludeTypes: build

      - name: Update Application.php version
        run: echo v${{ steps.version.outputs.version }} > version.txt

      - name: Delete origin tag
        run: |
          git tag --delete v${{ steps.version.outputs.version }} 
          git push --delete origin v${{ steps.version.outputs.version }}

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for v${{ steps.version.outputs.version }} [skip ci]'
          file_pattern: 'CHANGELOG.md version.txt'

      - name: Create new tag
        run: |
          git tag v${{ steps.version.outputs.version }}
          git push --tag

#      - name: Create Release
#        uses: ncipollo/release-action@v1.14.0
#        with:
#          allowUpdates: true
#          draft: false
#          makeLatest: true
#          name: ${{ github.ref_name }}
#          body: ${{ steps.changelog.outputs.changes }}
#          token: ${{ github.token }}
